:root {
    --Yellow: hsl(47, 88%, 63%);
    --White: hsl(0, 0%, 100%);
    --Gray-500: hsl(0, 0%, 42%);
    --Gray-950: hsl(0, 0%, 7%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Figtree", sarif;
    font-size: 1rem;
    font-style: normal;
    background-color: var(--Yellow);
}

main {
    display: flex;
    justify-content: center;
    padding: 5%;
}

.container {
    width: 25vw;
    background-color: var(--White);
    border-radius: 18px;
    border: 2px solid var(--Gray-500);
    padding: 2%;
    box-shadow: 10px 10px var(--Gray-950);
}

.main-img {
    width: 21vw;
    border-radius: 10px;
    margin-bottom: 1.8vh;
}

.h2_1 {
    max-width: fit-content;
    min-width: auto;
    border-radius: 5px;
    padding: 0.25rem;
    background-color: var(--Yellow);
    font-size: 1rem;
    font-weight: 800;
    margin-bottom: 1.2vh;
}

p {
    font-weight: 500;
    margin-bottom: 1vh;
}

h1 {
    font-weight: 800;
    font-size: 1.6rem;
    margin-bottom: 1vh;
}

h1:hover {
    color: var(--Yellow);
}

.para {
    opacity: 0.6;
    margin-bottom: 2vh;
}

.avatar {
    float: left;
    margin-right: 1vw;
}

h3 {
    margin-top: 4vh;
    font-weight: 800;
}

.attribution {
    clear: both;
    margin-top: 40px;
    font-size: 13px;
}